.event-list-container,
.favorites-container {
  width: 25%;
  height: 800px;
  background-color: white;
  color: #ed1c40;
  float: right;
  font-family: 'Josefin Sans', sans-serif;
}

.event-list-item {
  display: block;
  background-color: #ed1c40;
  border-radius: 10px;
  color: white;
  margin: 10px;
  padding: 30px 35px;
  text-align: center;
}

.list-div {
  margin-top: 45px;
  overflow-y: scroll;
  height: 753px;
  width: 100%;
}

h2 {
  text-align: center;
  color: #ed1c40;
}

h2 {
  color: white;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

h2:hover {
  color: aqua;
}

p {
  margin-bottom: 3px;
}

ol {
  padding: 0;
}

button {
  color: #ed1c40;
  border-radius: 10px;
  border: 2px solid #ed1c40;
  position: relative;
  float: left;
  width: 95%;
  margin: 0 10px;
}

button:hover {
  cursor: pointer;
}

.group-name {
  font-size: 15px;
}
